    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_phone"></span>
                        <h4>Contact No.</h4>
                        <p>7999735633</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_pin_alt"></span>
                        <h4>Address</h4>
                        <p>A-59, IGNOU Main Rd
                            Block A, Paryavaran Complex, Sainik Farm
                            New Delhi, Delhi 110030</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_clock_alt"></span>
                        <h4>Open time</h4>
                        <p>10:00 am to 7:00 pm</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_mail_alt"></span>
                        <h4>Email</h4>
                        <p>shivanshpagare97@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->

    <!-- Map Begin -->
    <div class="map">
        <div class="border border-info">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3505.7990580272294!2d77.20179601441413!3d28.51569278246408!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce1e593f98813%3A0x2f5ff4a3c1926491!2sA-59%2C%20IGNOU%20Main%20Rd%2C%20Block%20A%2C%20Paryavaran%20Complex%2C%20Sainik%20Farm%2C%20New%20Delhi%2C%20Delhi%20110030!5e0!3m2!1sen!2sin!4v1590178170652!5m2!1sen!2sin"
            height="500" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <div class="map-inside">
            <i class="icon_pin"></i>
            <div class="inside-widget">
                <h4>Saket, New Delhi</h4>
                <ul>
                    <li>Phone: 7999735633</li>
                    <li>Add: A-59, IGNOU Main Rd
                        Block A, Paryavaran Complex, Sainik Farm
                        New Delhi, Delhi 110030</li>
                </ul>
            </div>
        </div>
        </div>
    </div>
    <!-- Map End -->